.popup {
  position: fixed;
  top: 35%;
  left: 20%;
  width: 60%;
  height: 30vh;
  background-color: #3A7091;

  display: flex;
  justify-content: center;
  align-items: center;

}

.popup-inner {
  position: relative;
  padding: 15px;
  width: 100%;
  max-width: 640px;
  background-color: #917349;
  color: #fffffe;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}