@import '../../theme/variables.scss';

.profile-header {
  display: flex;
  justify-content: center;
  margin: 50px 0 100px;
}

h4 {
  display: flex;
  justify-content: center;
}

.profile-card-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
}
.info-card-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
}

.about-list {
  flex-direction: row;
  justify-content: center;
}

.info-row {
  display: flex;
  justify-content: space-evenly;
}

.follow-list-item {
  display: flex;
  justify-content: space-around;
}

.follow-list-item > p{
  display: flex;
  align-items: center;
}